<form action="/cars" method="post">
    <label for="makeModel">Add a new make and model</label>
    <input id="makeModel" name="makeModel" type="text">
    <label for="price">Add a price</label>
    <input id="price" name="price" type="text">
    <label for="miles">Add miles on car</label>
    <input id="miles" name="miles" type="text">
    <button type="submit">Submit</button>
</form>